.navbar {
    padding: 20px 10%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5efe6;
}


.navbar-brand >img {
    width: 125px;
    height: 50px;
}

.hamburger {
    border: none;
    background-color: transparent;
    display: none;
}

.navbar-nav {
    width: 25%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navbar-nav a {
    text-decoration: none;
    color: #1A1A1A;
}

.navbar-nav a:hover {
    color: #c65040; 
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .navbar-nav {
        display: none;
        position: absolute;
        background-color: #f5efe6;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        gap: 20px;
        align-items: center;
        padding-bottom: 24px;

    }
    .navbar-nav.open{
        display: flex;
        flex-direction: column;
    }
}   